* {
  margin: 0px;
}
p {
  font-weight: bold;
}

#gameWindow {
  background-color: #000;
  overflow: hidden;
}

#textbox > * {
  position: absolute;
  top: 50px;
  left: 50px;
}

#dialogueText {
  color: #FFF;
  font-family: courier new;
}
