* {
  margin: 0px;
}
p {
  font-weight: bold;
}

#gameWindow {
  background-color: #000;
  overflow: hidden;
}

#textbox > * , #textbox > * > * {
  margin: auto;
}

#dialogueText {
  color: #FFF;
  font-family: courier new;
}
